.wiki-img {
	width: 100%;
}

.wiki-header {
	text-align: center;
	padding: 5px;
}

.wiki-item {
	margin: 0 auto;
	box-shadow: #00000077 0px 0px 5px 5px;
}

.wiki-content {
	padding: 10px;
}

@media (width >= 600px) {
	.wiki-content {
		display: flex;
		flex-direction: row-reverse;
	}
	.img-container,
	.wiki-text {
		min-width: 50%;
		max-width: 50%;
	}
	.container {
		max-width: 960px;
		margin: 0 auto;
	}
}
